#passportPic {
    width: 130px;
    border-radius: 100%;
    display: block;
    margin-right:auto;
    margin-left:auto;
}
/*=============================================================================================================*/
.logo {
    width: 18px;
}
/*=============================================================================================================*/

.myButton {
    height: 30px;
}
/*=============================================================================================================*/

#main-footer {
    text-align: center;
}
/*=============================================================================================================*/
.myContainer {
    margin: 10px;
    /* width: 90%; */
    background-color: rgb(80, 76, 76);
    /* color: white; */
}
/*=============================================================================================================*/
#main-header {
    background-color: orange;
    height: 75px;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;

}

#main-header h1 {
    margin-top:10px;
    padding: 5px;
}
/*=============================================================================================================*/
.para {
    word-spacing:4px;
    line-height: 1.4em;
    padding: 5px;
    color: greenyellow;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
/*=============================================================================================================*/
#contact {
    text-align: center;
}
/*=============================================================================================================*/
#sp-para {
    margin: 0px;
    padding: 0px;
    display: inline;
}
/*=============================================================================================================*/
.para h2 {
    color: white;
    /* background-color: black; */
}

/*=============================================================================================================*/
.list {
    color: greenyellow;
}

.list-item {
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
/*=============================================================================================================*/
.logo {
    /* padding: 3px; */
    margin-right: 4px;
    margin-left:3px;
    /* margin-top: 2px; */
    /* margin-bottom:2px; */
}
/*=============================================================================================================*/
.myLink {
    color: blue;
}

#contact h2 {
    color: white;
}

#projects h2 {
    color: white;
}

#about h2 {
    color: white;
}

#skills h2 {
    color: white;
}

#intro h2 {
    color: white;
}
/*=============================================================================================================*/
#main-footer h4 {
    color: orange;
}